  .section {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  .tabs .indicator {
    background-color: #303f9f;
  }

  .tabs .tab a:focus, .tabs .tab a:focus.active {
    background: transparent;
  }

  p {
    line-height: 1.5 px;
  }

  body {
    hyphens: auto;
    font-size: 110%;
  }

  .parallax-container {
    min-height: 480px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
  }

  .parallax-container .section {
    width: 100%;
  }

  @media only screen and (max-width: 992px) {
    .parallax-container .section {
      position: absolute;
      top: 40%;
    }
    #index-banner .section {
      top: 10%;
    }
  }

  html {
    font-family: 'Open Sans', sans-serif;
  }